<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAn_QLCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoAn_QLCC.Properties.Settings>
            <setting name="SuDung_LanD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Block_Keystroke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Type_openLog" serializeAs="String">
                <value />
            </setting>
            <setting name="Check_Viewlog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Check_Cancel_HiddenMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CancelorOK_Hiddenmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckShowMessage_Again" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Strop_Logging_All" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Simbutton3_text" serializeAs="String">
                <value>Stop logging</value>
            </setting>
            <setting name="State_checkbox_startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Warning_text" serializeAs="String">
                <value>Your computer is monitered</value>
            </setting>
            <setting name="State_warning_text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hot_Key" serializeAs="String">
                <value>Control+A</value>
            </setting>
            <setting name="Self_destruct_date" serializeAs="String">
                <value>3/11/2018</value>
            </setting>
            <setting name="Enable_security" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="First_Security" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Security_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Protect_log_viewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Protect_Option_viewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Protect_exit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Protect_hidden_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first_check_use_pass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable_keystroke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enable_clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enable_LogApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enable_LogWeb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enable_Screenshoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable_Webcam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stop2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OK_fun" serializeAs="String">
                <value>False</value>
            </setting>
        </DoAn_QLCC.Properties.Settings>
    </userSettings>
</configuration>